.container-content {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content {
    width: 216vh;
    height: 60vh;
}

.data-guru {
    display: flex;
    justify-content: center;
    align-items: center
}

.container-footer {
    background-color: rgba(0, 0, 0, 0.132);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.img-footer {
    width: 100px;
    height: 100px;
    padding-top: 2px;
    padding-bottom: 5px;
    display: flex;
    padding-right: 10px;
}